{% extends "Apply/home.html" %}
{% load crispy_forms_tags %}
{# {% block links %}#}
{#                <div><a class=" nav-link active border-bottom" href="/login">Login</a></div>#}
{#                <div><a class=" nav-link  border-bottom" href="/register">Register</a></div>#}
{#            {% endblock %}#}
 {% block links %}
    {% if user.is_authenticated %}
        <a class=" nav-item nav-link active border-bottom" href="/logout">Logout</a>
    {% else %}
        <a class=" nav-item nav-link active border-bottom" href="/login">Login</a>
    {% endif %}
     <a class="nav-item nav-link border-bottom" href="/register/">Register</a>
     <a class="nav-item nav-link disabled border-bottom" href="#">Change Password</a>
        <a class="nav-item nav-link disabled border-bottom" href="#">About Us</a>

{% endblock %}
{% block content %}
  <form action="/login/" method="post" class="form-group d-flex flex-column mx-auto w-25">
    <h1> LOGIN HERE</h1>
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}
{#    <p>Dont have an account?</p>#}
    <a href="/register">Dont have an account?</a>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Login</button>
        </div>
</form>
{% endblock %}