{% extends "Apply/home.html" %}
{% load crispy_forms_tags %}
 {% block links %}
                <div><a class=" nav-link  border-bottom" href="/login">Login</a></div>
                <div><a class=" nav-link active border-bottom" href="/register">Register</a></div>
            {% endblock %}
{% block content %}
    <div class="p-4">
    <h1> Create your UMB CS Portal Account. </h1>
  <form method="POST" class="form-group" >
        {% csrf_token %}
        {{form|crispy}}
      <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Register</button>
      </div>

    </form>
    </div>
{% endblock %}